<%- include('partials/header') -%>

<!-- White background container -->
<div class="bg-white">

  <!-- Centered content with maximum width on larger screens -->
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">

    <!-- Heading for the laborer feed section -->
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Laborer Feed</h2>

    <!-- Grid for displaying laborer feed posts -->
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <!-- Loop through posts -->
      <% for(var i=0; i<posts.length; i++) { %>
        <!-- Container for each post with relative positioning -->
        <div class="group relative">
        <!-- Title of post -->
        <h3 class="post-title-text font-bold tracking-tight text-gray-900"><%= posts[i].title%></h3>
          <!-- Aspect ratio for the post image with rounded background -->
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <!-- Link to the individual post -->
            <a href="/post/<%= posts[i]._id%>">
              <!-- Image for the post -->
              <img src="<%= posts[i].image%>" alt="Post Image" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </a>
          </div>
          <!-- Margin and flex container for additional information -->
          <div class="mt-4 flex justify-between">
            <div>
              <!-- Information section -->
              <h3 class="text-sm text-gray-700">
                <!-- Link to the individual post -->
                <a href="/post/<%= posts[i]._id%>">
                  <!-- Absolute span for click overlay effect -->
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Click the image to learn more
                </a>
              </h3>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
